:root{
  --primary-color: #F1F1FF;
  --secondary-color: #0000FF;
  --misc-color: #FFFFFF;
  --filter: unset;
}

html.darkmode{
  --primary-color: #0c1116;
  --secondary-color: #F1F1FF;
  --misc-color: #080c0f;
  --filter: brightness(0) invert(1);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  font-family: 'Times New Roman', Times, serif;
}

html{
  color: var(--secondary-color);
}

html *{
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: var(--primary-color, #F1F1FF);
  font-family: Verdana;
  height: 100%;
}

hr{
  border-color: var(--secondary-color);
}

.center, .center > *{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

.center{
  min-height: 100dvh; 
}
  
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 0.75s;
}

.interactable, .interactable_c > * {
  cursor: pointer;
}

@keyframes fadeIn{
  
  0% {
  opacity: 0; 
  transform: translateY(5%);
  }

  
  100% {
    opacity: 1; 
    transform: translateY(0%);
  }
}

.center, .center > *{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center{
  min-height: 100dvh; 
}

.content > *{
  margin-bottom: 10px;
}
  
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 0.75s;
}

button{
  background-color: var(--primary-color);
  padding: 15px;
  border: solid var(--secondary-color) 4px;
  color: var(--secondary-color);
  margin-top: 10px;
  font-size: 20px;
  text-decoration: underline;
  pointer-events: auto;
}

button:hover{
  text-decoration: none;
}

#dm svg:last-child{
  display: none;
}

.darkmode #dm svg:first-child{
  display: none;
}

.darkmode #dm svg:last-child{
  display: block;
}