@import url('global.css');

@media only screen and (min-width: 417px) {
  body {
      overflow: hidden;
    }
}

#social{
  display: flex;
  flex-wrap: wrap;
}

#social > *{
  width: 45px;
  margin: 0 7px;
  height: auto;
  transition: transform 150ms ease-out, scale 150ms ease-out;
  filter: var(--filter);
}

#social > *:hover{
  scale: 1.05;
  transform: translateY(-2px);
}

.content > img{
  filter: var(--filter);
}