@media only screen and (min-width: 417px) {
  body {
      overflow: hidden;
    }
}

#social{
  display: flex;
  flex-wrap: wrap;
}

#social > * {
  width: 45px;
  margin-left: 7px;
  margin-right: 7px;
  height: auto;
  transition: 150ms ease-out;
  color: var(--secondary-color);
}

#social > *:hover{
  scale: 1.05;
  transform: translateY(-2px);
}

#home_nav{
  flex-direction: row;
}

#home_nav > button{
   margin-right: 10px;
}